SUPABASE_URL=https://bcndgmymnismbxvdeetc.supabase.co
SUPABASE_SERVICE_KEY=your_service_role_key_here
CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_STREAM_API_TOKEN=
CLOUDFLARE_CUSTOMER_CODE=
STRIPE_SECRET_KEY=sk_live_...
STRIPE_WEBHOOK_SECRET=whsec_...
MESHULAM_API_KEY=
MESHULAM_WEBHOOK_SECRET=
